/*----ALL------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/* table {
    background-color: #faecd1;
    margin: auto;
    border: 12px solid;
    border-image: linear-gradient(45deg, #FFFFFF, rgb(255, 122, 89)) 10;
    font-size: 28pt;
    /* border-width: 5pt; */
} */

footer {
    color: blanchedalmond;
    text-align: right;
    padding-top: 2rem;
    padding-right: 8rem;
}
/*---END ALL--------------------------------------------------------------*/


/*---INDEX-----------------------------------------------------------------*/
#banner {
    width: 100%;
    height: 25%;
    margin-top: 13rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    /* display: inline-flex;
    flex-direction: column;
    align-content: start;
    object-position: ;
    width: 50vw;
    height: 50%;
    background: yellow; */
    /* position: absolute; */
    /* background: -webkit-linear-gradient(#af0a0a, #d7ae08); */
    /* background-color: antiquewhite; */
    background-color: peachpuff;
    -webkit-background-clip:content-box;
    -webkit-text-fill-color: transparent;
    font-size: 5pt;
    text-align: center;
}


body#pagelanding {
    background-color: black;
    /* background-color: blanchedalmond; */
}

.butt {
    text-align: center;
}


.button0 {
    background: none;
    color: #af0a0a;
    /* color: blanchedalmond; */
    font-size: 15pt;
    letter-spacing: 3rem;
}


h1 {
    /* color: blanchedalmond; */
    /* color: #af0a0a; */
    color: peachpuff;
    font-size: 45pt;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}


h2 {
    /* color: blanchedalmond; */
    font-size: 23pt;
    color: #af0a0a;
    text-align: center;
}

#imagebanner {
    width: 100%;
    height: 100%;
    position: relative;
}


img#pagelanding {
    display: block;
    filter: sepia(40%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*---END INDEX--------------------------------------------------------------------*/




/*---PAGE ONE------------------------------------------------------------*/
.background::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: sepia(60%);
    position: absolute;
    background-image: url('//images.unsplash.com/photo-1501103777042-0aeb4df8ff8f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b2xkJTIwaG9sbHl3b29kfGVufDB8fDB8fHww" alt="Image of old Hollywood');
    background-size: cover;
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: 0.9;
}


.background-inside {
    position: relative;
}


.butt1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #af0a0a;
}


.butt2 {
    text-align: end;
    margin-right: 1.9rem;
    padding-top: 1rem;
    
}

.button1 {
    background: #e2a3939b;
    /* color: black; */
    color: blanchedalmond;
    font-size: 20pt;
}

.button2 {
    background: #e2a3939b;
    /* color: black; */
    color: blanchedalmond;
    font-size: 20pt;
    margin-right: 18rem;
}


#cgory { 
    padding: 0;
}

.cgory {
    font-size: 15pt;
    text-align: center;
    text-emphasis-style: bold;
    padding: 1rem;
}


.category {
    border-color: black;
    word-spacing: 20pt;
}


.foot1 {
    /* color: blanchedalmond; */
    color: #af0a0a;
    text-align: right;
    padding-top: 3rem;
    padding-right: 8rem;
}

h3 {
    /* color: blanchedalmond; */
    color: #af0a0a;
    font-size: 43pt;
    text-align: center;
    padding-top: 3rem;
    /* letter-spacing: 1rem; */
}

h4 {
    /* color: whitesmoke; */
    color: #af0a0a;
    font-size: 25pt;
    text-align: center;
    padding-bottom: 3rem;
}


.input {
    text-align: center;
    padding-top: 1rem;
}


.player1 {
    display: inline-flex;
    flex-direction: row;
}

.player2 {
    display: inline-flex;
    flex-direction: row;
}

.playerscore {
    display: flex;
    background-color: blanchedalmond;
    font-size: 20pt;
    justify-content: space-between;
    margin: auto;
    padding-inline: 15rem;
    padding: 1rem;
}

.playerturn {
    padding-top: 2rem;
}


#q {
    border: 0.1rem solid black;
    font-size: 15pt;
    border: 0.4rem solid white;
    
    -webkit-transition : border 500ms ease-out;
    -moz-transition : 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out;
}


#q:hover {
    border: 0.3rem solid black;
}


.wrappert {
    display: grid;
    margin: auto;
    grid-template-rows:repeat(6, 1fr);
    grid-template-columns:repeat(6, 1fr);
    grid-gap: 1rem;
    background-color: peachpuff;
    max-width: 90%;
    text-align: center;
    padding: .5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}



/* .round1table { 
    text-align: center;
} */
/*---END PAGE ONE--------------------------------------------------------*/





/*---PAGE TWO --------------------------------------------------------
(Change the name of the selectors from being identical to page one)*/
.background::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: sepia(60%);
    position: absolute;
    background-image: url('//images.unsplash.com/photo-1501103777042-0aeb4df8ff8f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b2xkJTIwaG9sbHl3b29kfGVufDB8fDB8fHww" alt="Image of old Hollywood');
    background-size: cover;
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: 0.9;
}


.background-inside {
    position: relative;
}

.butt1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #af0a0a;
}


.butt2 {
    text-align: end;
    margin-right: 1.9rem;
    padding-top: 1rem;
    
}

.button1 {
    background: #e2a3939b;
    /* color: black; */
    color: blanchedalmond;
    font-size: 20pt;
}

.button2 {
    background: #e2a3939b;
    /* color: black; */
    color: blanchedalmond;
    font-size: 20pt;
    margin-right: 18rem;
}

.category {
    border-color: black;
    word-spacing: 20pt;
}


.foot1 {
    /* color: blanchedalmond; */
    color: #af0a0a;
    text-align: right;
    padding-top: 3rem;
    padding-right: 8rem;
}

h3 {
    /* color: blanchedalmond; */
    color: #af0a0a;
    font-size: 43pt;
    text-align: center;
    padding-top: 3rem;
    /* letter-spacing: 1rem; */
}

h4 {
    /* color: whitesmoke; */
    color: #af0a0a;
    font-size: 25pt;
    text-align: center;
    padding-bottom: 3rem;
}

.input {
    text-align: center;
    padding-top: 1rem;
}


.player1 {
    display: inline-flex;
    flex-direction: row;
}

.player2 {
    display: inline-flex;
    flex-direction: row;
}

.playerscore {
    display: flex;
    background-color: blanchedalmond;
    font-size: 20pt;
    justify-content: space-between;
    margin: auto;
    padding-inline: 15rem;
    padding: 1rem;
}

.playerturn {
    padding-top: 2rem;
}

.round1table { 
    text-align: center;
}
/*---END PAGE TWO--------------------------------------------------------*/



/*---FINAL PAGE--------------------------------------------------------
delete selectors from copying over from page two
style final page after the index page*/
 .background3::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: saturate(5);
    filter: grayscale(100%); 
    position: absolute;
    background-image: url('//images.unsplash.com/photo-1501103777042-0aeb4df8ff8f?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b2xkJTIwaG9sbHl3b29kfGVufDB8fDB8fHww" alt="Image of old Hollywood');
    background-size: cover;
    filter: grayscale(100%); 
    z-index: -1;
    opacity: 0.9;
} 

body {
    /* background-color: aquamarine; */
}

.background3-inside {
    position: relative;
}

.butt1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #af0a0a;
}


.butt2 {
    text-align: end;
    margin-right: 1.9rem;
    padding-top: 1rem;
    
}

.button1 {
    background: #e2a3939b;
    /* color: black; */
    color: blanchedalmond;
    font-size: 9pt;
}

.button2 {
    background: #e2a3939b;
    /* color: black; */
    color: blanchedalmond;
    font-size: 20pt;
    margin-right: 18rem;
}


.cgory1 {
    font-size: 15pt;
    font-style: bolder;
}


.category {
    border-color: black;
    word-spacing: 20pt;
}


.foot1 {
    /* color: blanchedalmond; */
    color: #af0a0a;
    text-align: right;
    padding-top: 3rem;
    padding-right: 8rem;
}

h3 {
    /* color: blanchedalmond; */
    color: #af0a0a;
    font-size: 33pt;
    text-align: center;
    padding-top: 1rem;
    /* letter-spacing: 1rem; */
}

h4 {
    /* color: whitesmoke; */
    color: #af0a0a;
    font-size: 20pt;
    text-align: center;
    padding-bottom: 1rem;
}

h5 {
    /* color: blanchedalmond; */
    color: #af0a0a;
    font-size: 16pt;
    text-align: center;
    padding-top: 0.5rem;
    /* letter-spacing: 1rem; */
}


.input {
    text-align: center;
    padding-top: 1rem;
}

#marilyn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.player1 {
    display: inline-flex;
    flex-direction: row;
}

.player2 {
    display: inline-flex;
    flex-direction: row;
}

.playerscore {
    display: flex;
    background-color: blanchedalmond;
    font-size: 20pt;
    justify-content: space-between;
    margin: auto;
    padding-inline: 15rem;
    padding: 1rem;
}

.playerturn {
    padding-top: 2rem;
}

.playerturn1 {
    padding-top: 1rem;
}


.round1table { 
    text-align: center;
}

#q1 {
    text-indent: 15px;
    font-size: 13pt;
}


.wrappert1 {
    /* background-image: url('') */
    display: grid;
    margin: auto;
    grid-template-rows:repeat(1, 1fr);
    grid-template-columns:repeat(1, 1fr);
    grid-gap: 1rem;
    background-color: peachpuff;
    max-width: 30rem;
    max-height: 40rem;
    padding: 0.5rem;
    text-align: center;
    /* padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem; */
    -webkit-transition : border 500ms ease-out;
    -moz-transition : 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out;
}

.wrappert1:hover {
    border: 0.3rem solid black;
}
/*---END FINAL PAGE--------------------------------------------------------*/





@media screen and (max-width: 500px) {
    #landimage {
        width: 10%;
        height: 10%;
        padding: 0;
        margin: auto;
    } 

    img {
        
        width: 70vw;
    }

    #banner {
        margin-top: 5rem;

    }


    body {
        padding: 0;
        font-size: 15pt;
    }

    h1 {
        font-size: 15pt;
        padding-bottom: 0.5rem;
        padding-top: 8rem;
    }

    h2 {
        font-size: 10pt;
        padding-bottom: 1rem;
        padding-top: 0rem;
    }

    #playerturn {
        font-size: 20rem;
    }


    footer {
        padding-top: 8rem;
        /* text-align: left; */
        margin-left: 1rem;
        font-size: 10pt;
    }


    button {
        padding-top: 1rem;
        letter-spacing: 1rem;
    }
}


